.request{
  display: flex;
  flex-direction: column;
   justify-content: center;
  align-items: center;
}.rqt_container {
  background: #2083c0;
  height: 75vh;
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  overflow-y: auto; 
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.rqt_container::-webkit-scrollbar {
  display: none; 
}
.card {
  background: #e0dfdf;
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 2px 2px grey;
 padding: 10px;
 margin-top: 10px;
}
.card img{
  width: 5%;
  height: 40%;
  border-radius: 50%;
  object-fit: cover;
}
p{
  font-size: 0.7rem;
  font-family:monospace;
}
h2{
  font-size: medium;
}
.accept{
  background-color: green;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.reject{
  background-color: rgb(232, 102, 73);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}